<ul class='w-full p-4 flex-col [&>*:nth-child(even):hover]:border-green-700 [&>*:nth-child(even)]:bg-green-500 [&>*:nth-child(even)]:text-violet-100 [&>*:nth-child(odd)]:bg-blue-200'>
  <% @users.each do |user| %>
    <li class='rounded-xl m-6 '>
      <a href="<%= user_path(user.id)%>" class="p-8 flex flex-row">
      <img src=<%= user.photo %> class="h-10 mr-4 outline-none"/>
      <span class="mx-4 text-2xl"><%= user.name %></span>
      <span class="ml-[60%] mt-4 place-self-end">Number of Posts: <%= user.posts.length %></span>
      </a>
    </li>
  <% end %>
</ul>