<h1 class="text-3xl -mb-4 underline underline-offset-2 font-bold w-1/2 text-center">New post</h1>
<br>
<%= form_with model: @post, url: user_posts_path do |f| %>
  <div class="flex flex-col w-1/2 p-4 bg-blue-200">
    <%= f.text_field :title,  placeholder: "Title" %>
    <%= f.text_area :text,  placeholder: "Text", class: "my-4" %>
    <%= f.submit "Create post", class: "bg-lime-400 hover:bg-lime-500 text-white font-semibold py-2 px-4 rounded-full transition duration-300 ease-in-out" %>
  </div>
<% end %>